<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Metropolis Dark</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseWindowsFont</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>

  <connectionStrings>
    <!--<add name="MainConString" connectionString="Data Source=DESKTOP-46U4QED\SQLEXPRESS;Initial Catalog=AnuncioDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  />
    <add name="SqlLogConnString" connectionString="Data Source=DESKTOP-46U4QED\SQLEXPRESS;Initial Catalog=LogDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  /><add name="MainConString" connectionString="Data Source=DESKTOP-46U4QED\SQLEXPRESS;Initial Catalog=AnuncioDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  />-->
    <!--<add name="MainConString" connectionString="Data Source=DESKTOP-JJADIK1;Initial Catalog=CinemaDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  />
    <add name="SqlLogConnString" connectionString="Data Source=DESKTOP-JJADIK1;Initial Catalog=LogDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  />-->
    <add name="MainConString" connectionString="Data Source=DESKTOP-HQRG8JS;Initial Catalog=CinemaDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  />
    <add name="SqlLogConnString" connectionString="Data Source=DESKTOP-HQRG8JS;Initial Catalog=LogDB;Integrated Security=True;Encrypt=true;TrustServerCertificate=true"  />
  </connectionStrings>
  <appSettings>
    <add key="Repository" value="DAL.Repository.Sql" />
    <add key="SqlLogs" value="DAL.Repository.Sql" />
    <add key="FilePath" value="default" />
    <add key="FileLogs" value="default" />
    <add key="BaseSqlServerRepository" value="DAL.Repository.Sql" />
    <!-- default equivale a "<directorio base>\\logs"-->
    <add key="FileRepository" value="DAL.Repository.File" />
    <add key="SqlServerRepository" value="DAL.Repository.Sql" />
    <add key="JsonRepository" value="DAL.Repository.Json" />
    <add key="LastLang" value="es" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>