USE [master]
GO
/****** Object:  Database [CinemaDB]    Script Date: 4/8/2022 14:31:06 ******/
CREATE DATABASE [CinemaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CinemaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CinemaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaDB]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[Entity_ID] [numeric](18, 0) NOT NULL,
	[DVV] [int] NULL,
 CONSTRAINT [PK_DigitoVerificadorVertical] PRIMARY KEY CLUSTERED 
(
	[Entity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[guid_pelicula] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idioma] [varchar](50) NOT NULL,
	[idioma_subtitulado] [varchar](50) NULL,
	[activo] [bit] NOT NULL,
	[duracion] [int] NOT NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[guid_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[codigo_permiso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesXPermisos]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesXPermisos](
	[id_rol] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_RolesXPermisos] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[guid_sala] [uniqueidentifier] NOT NULL,
	[codigo_identificador] [varchar](10) NOT NULL,
	[es_pantalla_gigante] [bit] NOT NULL,
	[es_3D] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[guid_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[guid_sesion] [uniqueidentifier] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[guid_pelicula] [uniqueidentifier] NOT NULL,
	[guid_sala] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[guid_sesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[guid_ticket] [uniqueidentifier] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fila] [int] NOT NULL,
	[asiento] [int] NOT NULL,
	[guid_sesion] [uniqueidentifier] NOT NULL,
	[guid_usuario_creador] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Tickets_1] PRIMARY KEY CLUSTERED 
(
	[guid_ticket] ASC,
	[fila] ASC,
	[asiento] ASC,
	[guid_sesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[guid_usuario] [uniqueidentifier] NOT NULL,
	[nombredeusuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](max) NOT NULL,
	[emailprincipal] [varchar](50) NOT NULL,
	[habilitado] [varchar](50) NOT NULL,
	[DVH] [int] NOT NULL,
	[nombre_completo] [varchar](50) NOT NULL,
	[dni_usuario] [varchar](9) NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[guid_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosXRoles]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosXRoles](
	[guid_usuario] [uniqueidentifier] NOT NULL,
	[id_rol] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosXRoles] PRIMARY KEY CLUSTERED 
(
	[guid_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DigitoVerificadorVertical] ([Entity_ID], [DVV]) VALUES (CAST(100 AS Numeric(18, 0)), 23099)
GO
INSERT [dbo].[Peliculas] ([guid_pelicula], [nombre], [idioma], [idioma_subtitulado], [activo], [duracion]) VALUES (N'67b6b93a-6f21-46a3-8e8a-01ca1fea6926', N'pelicula1', N'español', N'italiano', 1, 125)
INSERT [dbo].[Peliculas] ([guid_pelicula], [nombre], [idioma], [idioma_subtitulado], [activo], [duracion]) VALUES (N'86d877e9-1e9a-47cc-939f-1b6af06a3f28', N'pelicula1222', N'español', N'italiano', 1, 125)
INSERT [dbo].[Peliculas] ([guid_pelicula], [nombre], [idioma], [idioma_subtitulado], [activo], [duracion]) VALUES (N'55b6ec37-023a-40c2-8665-2ad9f43e4c29', N'pelicula1', N'español', N'italiano', 1, 125)
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([id_permiso], [codigo_permiso]) VALUES (0, N'Cinema.MainPage')
INSERT [dbo].[Permisos] ([id_permiso], [codigo_permiso]) VALUES (1, N'Cinema.CreateTicketPage')
INSERT [dbo].[Permisos] ([id_permiso], [codigo_permiso]) VALUES (2, N'Cinema.MoviesPage')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id_rol], [nombre_rol]) VALUES (0, N'Cinema.Administrator')
INSERT [dbo].[Roles] ([id_rol], [nombre_rol]) VALUES (1, N'Cinema.Manager')
INSERT [dbo].[Roles] ([id_rol], [nombre_rol]) VALUES (2, N'Cinema.Receptionist')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RolesXPermisos] ([id_rol], [id_permiso]) VALUES (0, 0)
INSERT [dbo].[RolesXPermisos] ([id_rol], [id_permiso]) VALUES (0, 1)
INSERT [dbo].[RolesXPermisos] ([id_rol], [id_permiso]) VALUES (0, 2)
GO
INSERT [dbo].[Salas] ([guid_sala], [codigo_identificador], [es_pantalla_gigante], [es_3D], [activo]) VALUES (N'4fed35f3-45a7-4c07-8bf5-1cfc476ebc5f', N'b57', 1, 0, 0)
INSERT [dbo].[Salas] ([guid_sala], [codigo_identificador], [es_pantalla_gigante], [es_3D], [activo]) VALUES (N'792f68d4-bd49-4dcd-aa86-228bf37176da', N'A77', 1, 1, 1)
INSERT [dbo].[Salas] ([guid_sala], [codigo_identificador], [es_pantalla_gigante], [es_3D], [activo]) VALUES (N'7fb31e26-3230-4a4c-a55b-385d4a27ce27', N'b56', 0, 0, 0)
GO
INSERT [dbo].[Sesiones] ([guid_sesion], [fecha], [guid_pelicula], [guid_sala]) VALUES (N'c6da63a3-f5c3-4065-ac51-074344ab7916', CAST(N'2022-07-21T18:00:00.000' AS DateTime), N'86d877e9-1e9a-47cc-939f-1b6af06a3f28', N'7fb31e26-3230-4a4c-a55b-385d4a27ce27')
INSERT [dbo].[Sesiones] ([guid_sesion], [fecha], [guid_pelicula], [guid_sala]) VALUES (N'9f084b18-0dfc-49a4-8056-13f6a830c668', CAST(N'2022-07-21T23:00:00.000' AS DateTime), N'a1f1356c-5b18-4f3a-a569-3fcc94d5368a', N'7fb31e26-3230-4a4c-a55b-385d4a27ce27')
INSERT [dbo].[Sesiones] ([guid_sesion], [fecha], [guid_pelicula], [guid_sala]) VALUES (N'0eee3ab5-0287-49b6-8517-151b7c9bf223', CAST(N'2022-07-21T18:00:00.000' AS DateTime), N'86d877e9-1e9a-47cc-939f-1b6af06a3f28', N'7fb31e26-3230-4a4c-a55b-385d4a27ce27')
GO
INSERT [dbo].[Tickets] ([guid_ticket], [fecha_creacion], [fila], [asiento], [guid_sesion], [guid_usuario_creador]) VALUES (N'9c9396b9-0f98-419b-83c2-0bbdd706697c', CAST(N'2022-08-01T19:29:27.057' AS DateTime), 0, 0, N'8fb834ac-6464-4c28-9668-feb740742da4', N'2ff63cdf-5e8a-4ea3-9a8b-0503d373e7c0')
INSERT [dbo].[Tickets] ([guid_ticket], [fecha_creacion], [fila], [asiento], [guid_sesion], [guid_usuario_creador]) VALUES (N'81e90fc4-b466-4eac-9412-807cd1e45b54', CAST(N'2022-08-01T19:25:45.670' AS DateTime), 5, 4, N'e7d73d3c-c04b-4ae9-a6fb-1ee48a280383', N'2ff63cdf-5e8a-4ea3-9a8b-0503d373e7c0')
INSERT [dbo].[Tickets] ([guid_ticket], [fecha_creacion], [fila], [asiento], [guid_sesion], [guid_usuario_creador]) VALUES (N'a478d668-05e3-4218-8023-840c05f7e5bb', CAST(N'2022-08-01T19:29:42.197' AS DateTime), 9, 3, N'8fb834ac-6464-4c28-9668-feb740742da4', N'2ff63cdf-5e8a-4ea3-9a8b-0503d373e7c0')
GO
INSERT [dbo].[Usuario] ([guid_usuario], [nombredeusuario], [contraseña], [emailprincipal], [habilitado], [DVH], [nombre_completo], [dni_usuario]) VALUES (N'2ff63cdf-5e8a-4ea3-9a8b-0503d373e7c0', N'admin', N'EQ30fkyVaoa+wBjtbtWZvPvJCBVEsJh92uXi0DuNlkTzrGEdoAEsnNgBhU4KN0nVMHUAAA==', N'correo@correo.com', N'True', 8301, N'nombrecompleto', N'40000000')
INSERT [dbo].[Usuario] ([guid_usuario], [nombredeusuario], [contraseña], [emailprincipal], [habilitado], [DVH], [nombre_completo], [dni_usuario]) VALUES (N'343c5c61-1b5e-403c-a4d7-1609bb45fcfd', N'recepcionista', N'OoVfSEBWLvRf5QNO4TDG0g7i1pclbn1LEk9t7EpcEhw6oM26GuiMHQIiyRzSjzdoMHUAAA==', N'recepcionista@mail.com', N'True', 7205, N'recepcionista', N'41000000')
INSERT [dbo].[Usuario] ([guid_usuario], [nombredeusuario], [contraseña], [emailprincipal], [habilitado], [DVH], [nombre_completo], [dni_usuario]) VALUES (N'6c4fbd29-1fee-43d8-b709-9e1f0be11017', N'gerente', N'wSn9oCWnhUelqNfeaPHuuLeE7htICPwcSMdvMIF0I01rAUOr4KSszLWReJMs4dRXMHUAAA==', N'gerente@mail.com', N'True', 7593, N'gerente', N'42000000')
GO
INSERT [dbo].[UsuariosXRoles] ([guid_usuario], [id_rol]) VALUES (N'2ff63cdf-5e8a-4ea3-9a8b-0503d373e7c0', 0)
INSERT [dbo].[UsuariosXRoles] ([guid_usuario], [id_rol]) VALUES (N'343c5c61-1b5e-403c-a4d7-1609bb45fcfd', 2)
INSERT [dbo].[UsuariosXRoles] ([guid_usuario], [id_rol]) VALUES (N'6c4fbd29-1fee-43d8-b709-9e1f0be11017', 1)
GO
ALTER TABLE [dbo].[Peliculas] ADD  CONSTRAINT [DF_Peliculas_guid_pelicula]  DEFAULT (newid()) FOR [guid_pelicula]
GO
ALTER TABLE [dbo].[Peliculas] ADD  CONSTRAINT [DF_Peliculas_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Salas] ADD  CONSTRAINT [DF_Salas_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_guid_ticket]  DEFAULT (newid()) FOR [guid_ticket]
GO
ALTER TABLE [dbo].[RolesXPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolesXPermisos_Permisos] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[Permisos] ([id_permiso])
GO
ALTER TABLE [dbo].[RolesXPermisos] CHECK CONSTRAINT [FK_RolesXPermisos_Permisos]
GO
ALTER TABLE [dbo].[RolesXPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolesXPermisos_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[RolesXPermisos] CHECK CONSTRAINT [FK_RolesXPermisos_Roles]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Peliculas] FOREIGN KEY([guid_pelicula])
REFERENCES [dbo].[Peliculas] ([guid_pelicula])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Peliculas]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Salas] FOREIGN KEY([guid_sala])
REFERENCES [dbo].[Salas] ([guid_sala])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Salas]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Sesiones] FOREIGN KEY([guid_sesion])
REFERENCES [dbo].[Sesiones] ([guid_sesion])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Sesiones]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Usuario] FOREIGN KEY([guid_usuario_creador])
REFERENCES [dbo].[Usuario] ([guid_usuario])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Usuario]
GO
ALTER TABLE [dbo].[UsuariosXRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosXRoles_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[UsuariosXRoles] CHECK CONSTRAINT [FK_UsuariosXRoles_Roles]
GO
ALTER TABLE [dbo].[UsuariosXRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosXRoles_Usuario1] FOREIGN KEY([guid_usuario])
REFERENCES [dbo].[Usuario] ([guid_usuario])
GO
ALTER TABLE [dbo].[UsuariosXRoles] CHECK CONSTRAINT [FK_UsuariosXRoles_Usuario1]
GO
/****** Object:  Trigger [dbo].[TriggerAntesDeInsert]    Script Date: 4/8/2022 14:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TriggerAntesDeInsert]
	ON [dbo].[Usuario]
	INSTEAD OF INSERT
AS
BEGIN
	IF EXISTS ( SELECT 1 FROM Usuario A 
	INNER JOIN inserted B ON B.nombredeusuario=A.nombredeusuario) 
	BEGIN
		RAISERROR('El nombre de usuario ya existe.', 16, 1);
	END

	IF EXISTS ( SELECT 1 FROM Usuario A 
	INNER JOIN inserted B ON B.emailprincipal=A.emailprincipal)
	BEGIN
		RAISERROR('La direccion de correo ya existe.', 16, 1);
	END

	IF EXISTS ( SELECT 1 FROM Usuario A 
	INNER JOIN inserted B ON B.dni_usuario=A.dni_usuario)
	BEGIN
		RAISERROR('El numero de documento especificado ya existe.', 16, 1);
	END

	ELSE
	BEGIN
		Declare 
		@guid_usuario uniqueidentifier,
		@nombredeusuario varchar(50),
		@contraseña varchar(max), 
		@emailprincipal varchar(50), 
		@habilitado varchar(50),
		@DVH int, 
		@nombre_completo varchar(max), 
		@dni_usuario varchar(9)

		
		SELECT @guid_usuario=guid_usuario,
			   @nombredeusuario=nombredeusuario,
			   @contraseña=contraseña, 
			   @emailprincipal=emailprincipal, 
			   @habilitado=habilitado,
			   @nombre_completo=nombre_completo,
			   @DVH=DVH,
			   @dni_usuario=dni_usuario
			   
			   
		FROM inserted
		
		INSERT INTO Usuario (guid_usuario, nombredeusuario, contraseña, emailprincipal, habilitado, DVH, nombre_completo, dni_usuario)
		VALUES (@guid_usuario, @nombredeusuario, @contraseña, @emailprincipal, @habilitado, @DVH, @nombre_completo, @dni_usuario)
	END

END
GO
ALTER TABLE [dbo].[Usuario] ENABLE TRIGGER [TriggerAntesDeInsert]
GO
USE [master]
GO
