USE [master]
GO
/****** Object:  Database [LogDB]    Script Date: 4/8/2022 14:32:42 ******/
CREATE DATABASE [LogDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LogDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LogDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LogDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogDB]
GO
/****** Object:  Table [dbo].[ChangeLogs]    Script Date: 4/8/2022 14:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeLogs](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[fecha_evento] [datetime] NOT NULL,
	[tipodecambio] [varchar](50) NOT NULL,
	[tabla] [varchar](50) NOT NULL,
	[sentencia] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ChangeLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 4/8/2022 14:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[id_log] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[log_message] [varchar](max) NOT NULL,
	[severity] [varchar](max) NOT NULL,
	[fecha_evento] [datetime] NULL,
	[traza] [varchar](max) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeLogs] ADD  CONSTRAINT [DF_ChangeLogs_fecha_evento]  DEFAULT (getdate()) FOR [fecha_evento]
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_fecha_evento]  DEFAULT (getdate()) FOR [fecha_evento]
GO
USE [master]
GO
